[Service]
User=root
Type=oneshot
RemainAfterExit=yes
Environment=PATH=/root/.nvm/versions/node/v18.18.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/usr/bin:/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Environment=PM2_HOME=/root/.pm2
PIDFile=/root/.pm2/pm2.pid
Restart=on-failure

ExecStart=/root/.nvm/versions/node/v18.18.0/bin/pm2 start /root/Keepix.ApiManager/dist/main.js
ExecReload=/root/.nvm/versions/node/v18.18.0/bin/pm2 restart API
ExecStop=/root/.nvm/versions/node/v18.18.0/bin/pm2 stop API

[Install]
WantedBy=multi-user.target